exportClasses(lmdme)
exportMethods(F.p.values)
exportMethods(biplot)
exportMethods(coef)
exportMethods(coefficients)
exportMethods(components)
exportMethods(componentsType)
exportMethods(decomposition)
exportMethods(design)
exportMethods(fitted)
exportMethods(fitted.values)
exportMethods(leverage)
exportMethods(lmdme)
exportMethods(loadingplot)
exportMethods(model)
exportMethods(modelDecomposition)
exportMethods(p.adjust)
exportMethods(p.values)
exportMethods(permutation)
exportMethods(print)
exportMethods(resid)
exportMethods(residuals)
exportMethods(screeplot)
exportMethods(show)
exportMethods(summary)
importFrom(pls,loadingplot)
importFrom(stats,coef)
importFrom(stats,coefficients)
importFrom(stats,fitted)
importFrom(stats,fitted.values)
importFrom(stats,resid)
importFrom(stats,residuals)
import(methods, stemHypoxia)
importFrom(limma, lmFit)
importFrom(limma, eBayes)
importFrom(limma, classifyTestsF)

